.contactTile, .contactTileEdit{
    
    padding: 1em;
    margin: 1em;
    color:var(--primary-text-color);
    border-radius: 0.4em;
    text-align: left;
    max-width: 500px;
    min-width: 220px;
    box-shadow: var(--main-box-shadow);
    /* background-color: rgba(0, 0, 0, 0.104); */
    background-color: var(--main-grey-bg);
     overflow: hidden;
       font-family: 'Alegreya Sans SC', sans-serif;
    display: grid;
    grid-template-rows: 1fr 2em;
   
  

}

.contactTile a, .contactTileEdit a{
    color: var(--primary-text-color);
}

/* .contactTile input, .contactTileEdit input{
max-width: 180px;
} */

.form{
    display: flex;
    flex-direction: column;
    max-width: 180px;
    margin: auto;
    text-align: center;
    align-content: center ;

}

.contactTile{
    /* border: 1px solid  #001a3e; */
}

.contactTileEdit{
    border: 2px solid  var(--red-highlight-color);
}

.contactTile button, .contactTileEdit button{
    
        background-color: var(--primary-text-color);;
        color: var(--main-bright-white);
       margin: 1em 0.3em 0;
        border-radius: 0.2em;
        border: none;
        padding: 0.3em 1em;
        cursor: pointer;
    box-shadow: var(--main-box-shadow);

    
}

.contactName{
    font-size: 1.5em;
    max-width: 100%;
}

.company{
   
}

.iconRow{
   
    display: flex;
    justify-content: flex-end;
   
}

.tileIcon{
    margin: 1em 0 0 1em  ;
    font-size: 1.2em;
}

.tileIcon:hover{
    color: var(--red-highlight-color);
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    
    .contactTile, .contactTileEdit{
        font-size: 0.8em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        /* min-width: 180px; */
        
        
    }

   
    .tileIcon{
        margin: 1em 0 0 1.4em ;
        font-size: 1.4em;
    }
}

@media screen and (max-width: 330px) {
    
    .contactTile, .contactTileEdit{
      max-width: 180px;
        margin-left: 0;
        margin-right: 0;
        
        
    }
}