.contactTile{
    border: 2px solid  #001a3e;;
    padding: 1em;
    margin: 1em;
    color:#001a3e;
    border-radius: 0.4em;
    text-align: left;
    max-width: 500px;
    min-width: 280px;

}

.contactName{
    font-size: 1.5em;
}

.company{
   
}