.addContactArea{
    
        width: 80%;
        margin: 3em auto;
        padding: 3em;
        background-color: #efede7;
        color: #001a3e;
        border-radius: 8px;
        text-align: center;
        
    
    
}