.addContactArea{
    
        width: 80%;
        margin: 3em auto;
        padding: 3em;
        background-color: #efede7;
        color: #001a3e;
        border-radius: 8px;
        text-align: center;   
}

.addContactArea > form {
   
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.addContactArea > form > input, .categoryInput{
        max-width: 300px;
        height: 3.5em;
        margin: 1em;
        padding: 1em;
        border-radius: 0.4em;
}

.phoneInputArea{
        max-width: 300px;
        margin: 0;
}

.formSubmit{
        background-color: #001a3e;
        color: white;
        padding: 0em 1em;
        border-radius: 0.2em;
        width: 10em;
        
      
        

}

.formSubmit:hover{
   text-decoration: underline;
   
}