.statusBar{
    width: 100%;
    min-height: 3em;
    background-color: #efede7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.statusBarMenu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.statusBar ul {
    display: flex;
    justify-content: space-evenly;
list-style: none;
}

.statusBar li {
    margin: 0 1em;
}

.profilePic{
    width: 2em;
    border-radius: 50%;
}