.statusBar{
    width: 100%;
    /* min-height: 3em; */
  
    background-color: var(--main-light-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    color: var(--primary-text-color)
}

.statusBarMenu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.statusBar ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.statusBar li {
    margin: 0 1em;
}

.profilePic{
    width: 2em;
    border-radius: 50%;
}

.burgerIcon{
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .statusBar{
        display: flex;
        flex-direction: column;
        /* background-color: var(--primary-text-color);*/
        color: var(--main-bright-white); 
    background-color: rgba(0,0,0, 0.7);
        
       
    }

    h1{
        font-size: 2em;
        margin: 0.3em 0;
    }

    .statusBarMenu{
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: 0.5em 0;
    }
}

@media screen and (min-width: 900px) {
    .burgerMenu{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .statusBar{
font-size: 0.8em;
    }
}