.changePasswordForm{
    background-color: var(--main-grey-bg);
    color: var(--primary-text-color);;
    border-radius: 0.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-top: 2em;
    box-shadow: var(--main-box-shadow);
    max-width: 300px;
  
}

.changePasswordForm input{
    margin: 0.3em;
}

.changePasswordForm h2{
    margin-bottom: 1em;
}

.changePasswordForm .passwordSubmitButton {
    background-color: var(--primary-text-color);
    color: var(--main-bright-white);
    margin: 1em;
    border-radius: 0.2em;
    border: none;
    padding: 0.5em 1.5em;
    cursor: pointer;
}

.passwordSubmitButton:hover{
    text-decoration: underline;
}