.dashboardContainer{
    width: 80%;
    margin: 3em auto;
    padding: 3em;
    background-color: #efede7;
    color: #001a3e;
    border-radius: 8px;
    min-height: 15em;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.profileImage{
    display: flex;
    border-radius: 50%;
    width: 80%;
    min-width: 10em;
    max-width: 200px;
    margin: 0 auto;
    background-size: cover;
    /* border: 2px solid navy; */
}

.changeProfileImageButton{
    font-size: 0.5em;
   
    background-color: #001a3e;
    color: white;
    max-height: 5em;
    border-radius: 4px;
    max-width: 10em;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
   

}

.photoArea{
    position: relative;
    /* height: 6em; */
    margin: 2em;
    /* border: 2px solid red; */
    /* padding: 2em; */
    
}

.contactsButton{
    margin: 1em 0;
    border-radius: 4px;
    background-color: #001a3e;
    color: white;
    cursor: pointer;
    padding: 0.3em 1em;


}

.editImageIcon{
    font-size: 2em;
    margin: 0 0.2em;
}

.imageEditControls{
    /* border: 2px solid pink; */
    background-color: rgb(196, 196, 196);
    /* padding: 1em; */
    border-radius: 0.4em;
    
}

@media screen and (max-width: 900px) {
    .dashboardContainer{
        grid-template-columns: 1fr;
    }


}
@media screen and (max-width: 400px) {
    .dashboardContainer{
        padding: 1em;
        font-size: 0.8em;
    }


}