.App {
  text-align: center;
  background-image: url(../public/megayacht.jpg);
  background-size: cover;
  min-height: 100vh;
 
  display: grid;
  grid-template-columns: 1.5fr 8.5fr;
  margin: 0;
  padding: 0;
  overflow: none;
}

/* svg{
  margin: 0;
  padding: 0;
} */

.error{
  padding: 5em;
  background-color: var(--red-highlight-color);
  color: var(--main-bright-white);
  font-weight: 600;
}

.burgerMenu{
  background-color: var(--primary-text-color);
  color: var(--main-bright-white);
  padding: 6em 2em;
  position: fixed;
  top: 0;
}




@media screen and (max-width: 900px) {
  .App{
  
 
  grid-template-columns: 1fr;
  /* background-image: url(../public/yacht-portrait-3.jpg); */
  background-size: cover; 

  }

  .pageLeft{
    display: none;
  }


}