.EditProfilePicture{
    
    text-align: center;
    padding: 1em  0;
    margin: 1em 0;
}

.fileInput{
    padding: 0;
    background-color: rgba(0, 0, 0, 0.658);
    color: var(--main-bright-white);
    margin: 2em 0;
    /* width: 200px; */
    max-width: 90%;
    /* display: none; */
   
}

/* .fileInput > input[type="file"]{
    background-color: chocolate;
} */

.EditProfilePicture button{
    background-color: var(--primary-text-color);
    color: var(--main-bright-white);
    margin: 0 1em 1em;
    border-radius: 0.2em;
    border: none;
    padding: 0.5em 1.5em;
    transition: ease all 0.5s;
    box-shadow: var(--main-box-shadow);
    
}

.EditProfilePicture button:hover{
    text-decoration: underline;
    cursor: pointer;
    transition: ease all 0.5s;
    background-color: var(--green-highlight-color);
}