.contactName{
    margin: auto;
    font-size: 2em;
    font-weight: 600;    

}

.contactsContainer{
    width: 80%;
    margin: 3em auto;
    padding: 3em;
    background-color: #efede7;
    color: #001a3e;
    border-radius: 8px;
    text-align: center;
    

}

.tileGrid{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(230px, 1fr) );
   
}

.contactsContainer > h2{
    text-decoration: underline;
    margin-bottom: 2em;
}

.contactsFooter{
    text-align: right;
    font-size: 3em;
    font-weight: 800;

}

.addContactButton{
    background-color: #001a3e;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.2em;
}

.addContactButton:hover{
    text-decoration: underline;
    
 }

.contactButtonIcon{
    margin-right: 1em;
}

@media screen and (max-width: 900px) {
    .contactsContainer{
        padding: 1em;
    }
}
@media screen and (max-width: 400px) {
    .contactsContainer{
        margin: 1em auto;
        /* width: 90%; */
        padding: 1em 0.6em;
    }
}